In [1]:
#Variant 3 
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('books.csv')

In [3]:
df

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN

In [6]:
import re

df['Vowel Count'] = df['Author'].str.split(', ').str.get(-1).str.count('(?i)[aeiouy]')
df

,Title,Author,Genre,SubGenre,Height,Publisher,Vowel Count
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,4.0
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,1.0
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,2.0
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,2.0
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,2.0
...,...,...,...,...,...,...,...
206,Structure and Randomness,"Tao, Terence",science,mathematics,252,NaN,3.0
207,Image Processing with MATLAB,"Eddins, Steve",tech,signal_processing,241,NaN,2.0
208,Animal Farm,"Orwell, George",fiction,classic,180,NaN,3.0
209,"Idiot, The","Dostoevsky, Fyodor",fiction,classic,197,NaN,3.0
210,"Christmas Carol, A","Dickens, Charles",fiction,classic,196,NaN,2.0

In [7]:
df[df['Author'].str.split(',').str.get(0).str.contains('[aeiouy]{3}', na=False)]

,Title,Author,Genre,SubGenre,Height,Publisher,Vowel Count
72,Scoop!,"Nayar, Kuldip",nonfiction,history,216,HarperCollins,2.0
75,"Social Choice & Welfare, Vol 39 No. 1",Various,tech,economics,235,Springer,4.0

In [10]:
df['Has number'] = df['Title'].str.contains(r'[0-9]').apply(lambda x: 1 if x else 0)
df.iloc()[160:170]

,Title,Author,Genre,SubGenre,Height,Publisher,Vowel Count,Has number
160,Statistical Learning Theory,"Vapnik, Vladimir",tech,data_science,228,NaN,3.0,0
161,Empire of the Mughal - The Tainted Throne,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
162,Empire of the Mughal - Brothers at War,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
163,Empire of the Mughal - Ruler of the World,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
164,Empire of the Mughal - The Serpent's Tooth,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
165,Empire of the Mughal - Raiders from the North,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
166,Mossad,"Baz-Zohar, Michael",nonfiction,history,236,NaN,3.0,0
167,Jim Corbett Omnibus,"Corbett, Jim",nonfiction,history,223,NaN,1.0,0
168,20000 Leagues Under the Sea,"Verne, Jules",fiction,novel,190,NaN,2.0,1
169,Batatyachi Chal,Deshpande P L,fiction,novel,200,NaN,3.0,0

In [11]:
df[df['Title'].str.len() == df['Title'].str.len().max()]

,Title,Author,Genre,SubGenre,Height,Publisher,Vowel Count,Has number
115,Clash of Civilizations and Remaking of the Wor...,"Huntington, Samuel",nonfiction,history,228,Simon&Schuster,3.0,0

In [12]:
df[df['Author'].str.split(', ').str.get(-1).str.startswith('A', na=False)]

,Title,Author,Genre,SubGenre,Height,Publisher,Vowel Count,Has number
14,"Age of Wrath, The","Eraly, Abraham",nonfiction,history,238,Penguin,3.0,0
20,Making Software,"Oram, Andy",tech,computer_science,232,O'Reilly,2.0,0
27,"Outsider, The","Camus, Albert",fiction,classic,198,Penguin,2.0,0
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0
30,"Wealth of Nations, The","Smith, Adam",science,economics,175,Random House,2.0,0
32,Mein Kampf,"Hitler, Adolf",nonfiction,autobiography,212,Rupa,2.0,0
39,Return of the Primitive,"Rand, Ayn",philosophy,objectivism,202,Penguin,2.0,0
56,Textbook of Economic Theory,"Stonier, Alfred",tech,economics,242,Pearson,2.0,0
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,2.0,0
66,"Argumentative Indian, The","Sen, Amartya",nonfiction,history,209,Picador,4.0,0
67,Sea of Poppies,"Ghosh, Amitav",fiction,novel,197,Penguin,3.0,0
68,"Idea of Justice, The","Sen, Amartya",philosophy,economics,212,Penguin,4.0,0
101,Identity & Violence,"Sen, Amartya",philosophy,philosophy,219,Penguin,4.0,0
110,We the Living,"Rand, Ayn",fiction,novel,178,Penguin,2.0,0
111,"Artist and the Mathematician, The","Aczel, Amir",science,mathematics,186,HighStakes,2.0,0
114,Rationality & Freedom,"Sen, Amartya",science,economics,213,Springer,4.0,0
161,Empire of the Mughal - The Tainted Throne,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
162,Empire of the Mughal - Brothers at War,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
163,Empire of the Mughal - Ruler of the World,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
164,Empire of the Mughal - The Serpent's Tooth,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
165,Empire of the Mughal - Raiders from the North,"Rutherford, Alex",nonfiction,history,180,NaN,2.0,0
175,Think Complexity,"Downey, Allen",tech,data_science,230,NaN,2.0,0
177,Ayn Rand Answers,"Rand, Ayn",philosophy,objectivism,203,NaN,2.0,0
178,Philosophy: Who Needs It,"Rand, Ayn",philosophy,objectivism,171,NaN,2.0,0
199,Eyeless in Gaza,"Huxley, Aldous",fiction,novel,180,NaN,3.0,0

In [13]:
df[df['Publisher'].str.split().str.len() == 2]

,Title,Author,Genre,SubGenre,Height,Publisher,Vowel Count,Has number
6,Integration of the Indian States,"Menon, V P",nonfiction,history,217,Orient Blackswan,0.0,0
11,Slaughterhouse Five,"Vonnegut, Kurt",fiction,classic,198,Random House,1.0,0
12,Birth of a Theorem,"Villani, Cedric",science,mathematics,234,Bodley Head,2.0,0
13,Structure & Interpretation of Computer Programs,"Sussman, Gerald",tech,computer_science,240,MIT Press,2.0,0
15,"Trial, The","Kafka, Frank",fiction,classic,198,Random House,1.0,0
16,Statistical Decision Theory',"Pratt, John",tech,data_science,236,MIT Press,1.0,0
25,Introduction to Algorithms,"Cormen, Thomas",tech,computer_science,234,MIT Press,2.0,0
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0
30,"Wealth of Nations, The","Smith, Adam",science,economics,175,Random House,2.0,0
31,"Pillars of the Earth, The","Follett, Ken",fiction,novel,176,Random House,1.0,0
34,Surely You're Joking Mr Feynman,"Feynman, Richard",science,physics,198,Random House,2.0,0
40,Jurassic Park,"Crichton, Michael",fiction,novel,174,Random House,3.0,0
50,"Brethren, The","Grisham, John",fiction,novel,174,Random House,1.0,0
52,Catch 22,"Heller, Joseph",fiction,classic,178,Random House,2.0,1
54,Dylan on Dylan,"Dylan, Bob",nonfiction,autobiography,197,Random House,1.0,0
59,Data Structures Using C & C++,"Tanenbaum, Andrew",tech,computer_science,235,Prentice Hall,2.0,0
62,Let Us C,"Kanetkar, Yashwant",tech,computer_science,213,Prentice Hall,3.0,0
63,"Amulet of Samarkand, The","Stroud, Jonathan",fiction,novel,179,Random House,3.0,0
65,Angels & Demons,"Brown, Dan",fiction,novel,178,Random House,1.0,0
70,All the President's Men,"Woodward, Bob",nonfiction,history,177,Random House,1.0,0
96,"Hunchback of Notre Dame, The","Hugo, Victor",fiction,classic,175,Random House,2.0,0
98,"Age of Discontuinity, The","Drucker, Peter",nonfiction,economics,178,Random House,2.0,0
102,Beyond the Three Seas,"Dalrymple, William",nonfiction,history,197,Random House,3.0,0

In [14]:
df[df['Author'].str.get(2) == 'y']

,Title,Author,Genre,SubGenre,Height,Publisher,Vowel Count,Has number
28,"Complete Sherlock Holmes, The - Vol I","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0
29,"Complete Sherlock Holmes, The - Vol II","Doyle, Arthur Conan",fiction,classic,176,Random House,4.0,0
34,Surely You're Joking Mr Feynman,"Feynman, Richard",science,physics,198,Random House,2.0,0
72,Scoop!,"Nayar, Kuldip",nonfiction,history,216,HarperCollins,2.0,0
157,Neural Networks,"Haykin, Simon",tech,data_science,240,NaN,2.0,0
173,"Cathedral and the Bazaar, The","Raymond, Eric",tech,computer_science,217,NaN,2.0,0